<div class="jumbotron jumbotron-fluid center">
    <div class="ccontainer-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-4">Welcome to My Pinterested App</h1>
                <p class="lead">Find me in app/views/home/index.html.erb</p>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <%= link_to 'Log In', new_user_session_path, class: 'btn btn-dark' %>
                <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary' %>
            </div>
        </div>

    </div>
</div>
