@import "@fortawesome/fontawesome-free";
@import "bootstrap";

.center {
  text-align: center;
}

.jumbotron {
  height: 100vh;
  background-color: #28aae2;
}

.form-sign {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.topPadding {
  padding-top: 15px;
}